In [40]:
import pandas as pd
import re
import en_core_web_lg

nlp = en_core_web_lg.load()

In [3]:
df_zara = pd.read_csv('../data/zara_features.csv')
df_zara.head()

,original_comment,comment,user,lang,datetime,Year,Month,Day,Date,Hour,TagsCount,Emojis,EmojiCounts
0,Silk dress dressing gown #zarawoman,silk dress dressing gown #zarawoman,zara,en,2021-07-12 17:23:02+00:00,2021,7,12,2021-07-12,17,1,{},0
1,🔥,🔥,bornventure_07,NotFound,2021-07-12 17:23:16+00:00,2021,7,12,2021-07-12,17,0,{'🔥': 'fire'},1
2,❤️,❤️,vdreamerw,NotFound,2021-07-12 17:23:27+00:00,2021,7,12,2021-07-12,17,0,{'❤️': 'red heart'},1
3,❤️,❤️,meriem.__.05,NotFound,2021-07-12 17:23:31+00:00,2021,7,12,2021-07-12,17,0,{'❤️': 'red heart'},1
4,👏,👏,ayala.m,NotFound,2021-07-12 17:23:31+00:00,2021,7,12,2021-07-12,17,0,{'👏': 'clapping hands'},1

In [93]:
df_zara['Tags'] = df_zara['comment'].apply(lambda x: ' '.join(re.findall(r"#(\w+)", x)).strip())
df_zara

,original_comment,comment,user,lang,datetime,Year,Month,Day,Date,Hour,TagsCount,Emojis,EmojiCounts,Tags,clean_comment
0,Silk dress dressing gown #zarawoman,silk dress dressing gown #zarawoman,zara,en,2021-07-12 17:23:02+00:00,2021,7,12,2021-07-12,17,1,{},0,zarawoman,silk dress dressing gown
1,🔥,🔥,bornventure_07,NotFound,2021-07-12 17:23:16+00:00,2021,7,12,2021-07-12,17,0,{'🔥': 'fire'},1,,
2,❤️,❤️,vdreamerw,NotFound,2021-07-12 17:23:27+00:00,2021,7,12,2021-07-12,17,0,{'❤️': 'red heart'},1,,
3,❤️,❤️,meriem.__.05,NotFound,2021-07-12 17:23:31+00:00,2021,7,12,2021-07-12,17,0,{'❤️': 'red heart'},1,,
4,👏,👏,ayala.m,NotFound,2021-07-12 17:23:31+00:00,2021,7,12,2021-07-12,17,0,{'👏': 'clapping hands'},1,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28108,"RT @NadiaMSkakovska: ➡️@movistar_es, @ZARA y @...","rt @nadiamskakovska: ➡️@movistar_es, @zara and...",Juan Rodríguez,es,2022-01-21 11:28:54+00:00,2022,1,21,2022-01-21,11,0,{'➡️': 'right arrow'},1,,repeat fourth year valuable spanish brand...
28109,"🥇@ZARA, 🥈@movistar_es, 🥉@bancosantander, @iber...","🥇@zara, 🥈@movistar_es, 🥉@bancosantander, @iber...",Cesce,es,2022-01-21 11:47:00+00:00,2022,1,21,2022-01-21,11,0,"{'🥇': '1st place medal', '🥈': '2nd place medal...",3,,remain httpstcosm
28110,@ZARA @ZARA_Care La estrategia de cerrar tiend...,@zara @zara_care the strategy of closing store...,Raquel,es,2022-01-21 12:40:28+00:00,2022,1,21,2022-01-21,12,0,{},0,,strategy closing stores locating large stores ...
28111,"📊 .@ZARA, la marca española más valiosa por cu...","📊 .@zara, the most valuable Spanish brand for ...",Pablo Mondragón 📱⚡️,es,2022-01-21 12:41:03+00:00,2022,1,21,2022-01-21,12,0,{'📊': 'bar chart'},1,,azara valuable spanish brand fourth consecutiv...
28112,🔴 Dos detenidos en Ciudad Real que se disponía...,🔴 two detainees in Ciudad Real who were about ...,COPE Ciudad Real,es,2022-01-21 14:20:49+00:00,2022,1,21,2022-01-21,14,0,"{'🔴': 'red circle', '📸': 'camera with flash'}",2,,detainees ciudad real steal van going unload ...

In [104]:
emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)

def clean_text(text):
    text = text.lower().replace('#', ' #')
    text = re.sub('(?<=^|(?<=[^a-zA-Z0-9-_\.]))@([A-Za-z]+[A-Za-z0-9-_]+)', '', text)
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r"#(\w+)", '', text)
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\d', '', text)
    text = re.sub(emoj, '', text)
    text = text.replace("@", 'a')
    text = text.strip()
    text = re.sub('[!.,/()=;:]', '', text)
    text = re.sub(r'\ba\b\s+', '', text)
    text = re.findall("[a-zA-Z^'.]*", text)
    text = ' '.join(text)
    if len(text) > 0:
        doc = nlp(text)
        if len(doc) > 0:
            text = ' '.join([word.text for word in doc if word.is_stop == False and len(word.text) > 2 ])

    text = re.sub(r"\b(\w+)(?:\W\1\b)+", r"\1", text)

    return text

df_zara['clean_comment'] = df_zara['comment'].apply(lambda x: clean_text(x))

In [105]:
df_zara_features = df_zara[['clean_comment', 'Tags', 'TagsCount', 'Emojis', 'EmojiCounts', 'user', 'lang', 'Year', 'Month', 'Day', 'Date', 'Hour']]

df_zara_features = df_zara_features.rename(columns={'clean_comment': 'comment'})
df_zara_features

,comment,Tags,TagsCount,Emojis,EmojiCounts,user,lang,Year,Month,Day,Date,Hour
0,silk dress dressing gown,zarawoman,1,{},0,zara,en,2021,7,12,2021-07-12,17
1,,,0,{'🔥': 'fire'},1,bornventure_07,NotFound,2021,7,12,2021-07-12,17
2,,,0,{'❤️': 'red heart'},1,vdreamerw,NotFound,2021,7,12,2021-07-12,17
3,,,0,{'❤️': 'red heart'},1,meriem.__.05,NotFound,2021,7,12,2021-07-12,17
4,,,0,{'👏': 'clapping hands'},1,ayala.m,NotFound,2021,7,12,2021-07-12,17
...,...,...,...,...,...,...,...,...,...,...,...,...
28108,repeat fourth year valuable spanish brand...,,0,{'➡️': 'right arrow'},1,Juan Rodríguez,es,2022,1,21,2022-01-21,11
28109,remain,,0,"{'🥇': '1st place medal', '🥈': '2nd place medal...",3,Cesce,es,2022,1,21,2022-01-21,11
28110,strategy closing stores locating large stores ...,,0,{},0,Raquel,es,2022,1,21,2022-01-21,12
28111,azara valuable spanish brand fourth consecutiv...,,0,{'📊': 'bar chart'},1,Pablo Mondragón 📱⚡️,es,2022,1,21,2022-01-21,12
28112,detainees ciudad real steal van going unload ...,,0,"{'🔴': 'red circle', '📸': 'camera with flash'}",2,COPE Ciudad Real,es,2022,1,21,2022-01-21,14

In [106]:
# df_zara_features.to_csv('../streamlit/zara_features.csv', index=False)